# Compiled JavaScript files
lib/**/*.js
!lib/api/theta/thetajs.cjs.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

#private key
hark-e2efe-firebase-adminsdk-vmx2u-c09484c0ad.json
